
/* ---------------------------------- header --------------------------------- */


.nav {
    @include grid(repeat(12,1fr),repeat(3,3rem), 100vw, 9rem);
    background-color: map-get($map:$colors, $key:dark-grey);
    .nav__logo {
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: center;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .nav__logobr{
        grid-column: 12/13;
        grid-row: 1/1;
        justify-self: right;
        align-self: center;
        padding-right: .5rem;
    }
    .nav__logoar{
        grid-column: 12/13;
        grid-row: 2/2;
        justify-self: right;
        align-self: center;
        padding-right: .5rem;
    }
    .nav__lightg {
        grid-column: 1/13;
        grid-row: 3/3;
        background-color: #767272;
        width: 100%;
        height: 3rem;
        z-index: 2;
    }
    .nav__linksign {
        grid-column: 1/1;
        grid-row: 3/3;
        justify-self: center;
        align-self: center;
        z-index: 3;
        a {
            font-family: 'jura', sans-serif;
            color: map-get($map:$colors, $key:color-client);
            font-size: map-get($map: $fontsize, $key:xl);
        }
            &:hover {
                font-weight: 500;
            }
    }
    .nav__linkprod {
        grid-column: 11/12;
        grid-row: 3/3;
        justify-self: center;
        align-self: center;
        z-index: 3;
        a {
            font-family: 'jura', sans-serif;
            color: map-get($map:$colors, $key:font-colorcl);
            font-size: map-get($map: $fontsize, $key:xl);
        }
            &:hover {
                font-weight: 500;
            }
        }
    .nav__linksop {
        grid-column: 12/13;
        grid-row: 3/3;
        justify-self: center;
        align-self: center;
        z-index: 3;
        a {
            font-family: 'jura', sans-serif;
            color: map-get($map:$colors, $key:font-colorcl);
            font-size: map-get($map: $fontsize, $key:xl);
        }
            &:hover {
                font-weight: 500;
            }
        }
    .nav__linkvid {
        grid-column: 10/11;
        grid-row: 3/3;
        justify-self: center;
        align-self: center;
        z-index: 3;
        a {
            font-family: 'jura', sans-serif;
            color: map-get($map:$colors, $key:font-colorcl);
            font-size: map-get($map: $fontsize, $key:xl);
        }
            &:hover {
                font-weight: 500;
            }
        }
    .nav__linkhome {
        grid-column: 9/10;
        grid-row: 3/3;
        justify-self: center;
        align-self: center;
        z-index: 3;
        a {
            font-family: 'jura', sans-serif;
            color: map-get($map:$colors, $key:font-colorcl);
            font-size: map-get($map: $fontsize, $key:xl);
        }
            &:hover {
                font-weight: 500;
            }
        }
}